<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>


    <!--CASA ASPEN-->
   
    <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
      connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=ASPEN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
     
   
    
    <!--CASA ASPEN-->
    <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-BI5616B\SQLEXPRESS;Initial Catalog=ASPEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
            -->
    <!--aspen-->
      <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=MARIELA-PC\SQLEXPRESS;Initial Catalog=ASPEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
           -->
         

    <!--HOME SCHOL-->
    <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=SECRETARIA-2\SQLEXPRESS;Initial Catalog=TRAUT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
       -->


  

  </connectionStrings>
</configuration>